# --- Python ---
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# --- Virtualenv ---
.venv/
venv/
ENV/

# --- IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

# --- Logs / runtime outputs ---
*.log
logs/
output/
tmp/
cache/

# --- Secrets / local config ---
.env
*.local
config.local.*

# --- Working files
graphGen/
meshLogger/
nodeDb.txt
nodes.txt
